body{
    background: rgb(0,8,36);
    background: -moz-linear-gradient(90deg, rgba(0,8,36,1) 4%, rgba(150,22,255,1) 35%, rgba(64,20,224,1) 58%, rgba(100,22,255,1) 74%, rgba(45,22,255,1) 86%, rgba(0,8,36,1) 99%);
    background: -webkit-linear-gradient(90deg, rgba(0,8,36,1) 4%, rgba(150,22,255,1) 35%, rgba(64,20,224,1) 58%, rgba(100,22,255,1) 74%, rgba(45,22,255,1) 86%, rgba(0,8,36,1) 99%);
    background: linear-gradient(90deg, rgba(0,8,36,1) 4%, rgba(150,22,255,1) 35%, rgba(64,20,224,1) 58%, rgba(100,22,255,1) 74%, rgba(45,22,255,1) 86%, rgba(0,8,36,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000824",endColorstr="#000824",GradientType=1);

}
img{
    padding-left: 40px;
    width: 300px;
}